@import "tailwindcss";

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.skeleton {
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 25%,
            rgba(255, 255, 255, 0.12) 37%,
            rgba(255, 255, 255, 0.05) 63%);
    background-size: 800px 100%;
    animation: shimmer 1.4s infinite linear;
}

html,
body,
#root {
    background-color: #020617;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.no-print {
    display: none !important;
}

.pdf-mode * {
    background-image: none !important;
}

.pdf-mode {
    background: #020617 !important;
}